{% extends "layout.html" %}

{% block body %}

<div class="grid-container">
    <div class="navigation-bar grid-item-row-1">
        <div class="navigation-bar-left">
            <div>
                <a href="home.html">Home</a>
            </div>
            <div>
                <a href="about-us.html" class="active">About Us</a>
            </div>
            <div>
                <a href="create-user.html">Create</a>
            </div>
        </div>
        <div class="navigation-bar-right">
            <div>
                <input type="search">
                <button>Search</button>
            </div>


        </div>
    </div>
    <div class="content-with-background-color grid-item-col-1-row-3"> 
        <p>Welcome Guys</p>
    </div>
    <div class="content-with-background-image grid-item-row-2">
        <div class="animated-content">
            <p>This is Home page</p>
        </div>
    </div>
    <div class="content-with-background-color grid-item-col-2-row-3">
        <p>To a better future of the world</p>
    </div>
    <div class="content-with-background-image2 grid-item-row-4">
        <p>2</p>
    </div>
    <div class="content-with-background-color grid-item-col-3-row-3">
        <p>3</p>
    </div>
</div>


{% endblock%}